body {
  background-color: #222;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#startScreen, #difficultyScreen {
  text-align: center;
}

#snakeCanvas {
  border: 8px solid #333; /* Dark thick border color */
  background-color: #00FF00; /* Green background color */
  image-rendering: pixelated;
  box-sizing: border-box;
}